<%- include('../../public/header')%>
<div class="login-box-0310222034">
  <h2>Login</h2>
    <form method="POST" action="/login">
      <div class="user-box-0310222035">
        <input name="username" type="text"/>
        <label for="username">Username</label>
      </div>

      <div class="button-form-0310222038">
      
        <input id="submit" type="submit" value="Iniciar Session" />
      </div>
      
    </form>

  </div>
  <%- include('../../public/footer')%>
</div>



