<div class="navbar">
  <div class="brand">
    <h2>Hola, <%= user.username%></h2>
  </div>
  <div class="links">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/info">Info</a></li>
    </ul>
  </div>
  <div class="useroption">
    <a class="button" href="/logout">Cerrar session</a>
  </div>
</div>
