<div class="navbar">
  <div class="brand">
    <h2>Hola, <%= user.username%></h2>
  </div>
  <div class="links">
    <ul class="list-nav">
      <li><a class="button-nav" href="/">Inicio</a></li>
      <li><a class="button-nav" href="/Productos">Productos</a></li>
      <li><a class="button-nav" href="/info">Info</a></li>
      <li><a class="button-nav" href="/api/randoms">fork</a></li>
    </ul>
  </div>
  <div class="useroption">
    <a class="button-logout" href="/logout">Cerrar session</a>
  </div>
</div>
