<%- include('../../../public/header')%>

<div class="login-box-0310222034">
  <h2>Login</h2>
    <form method="post" action="/login">
      <div class="user-box-0310222035">
        <input name="username" type="email"/>
        <label for="username">Username</label>
      </div>

      <div class="user-box-0310222035">
        <input name="password" type="password"/>
        <label for="password">Password</label>
      </div>

      <div class="button-form-0310222038">
        <input id="submit-1010221515" type="submit" value="Ingreso" />
        <div id="register-1010221515">
          No tenes cuenta?
          <a href="/signup">Signup</a>
        </div>
      </div>
      
    </form>

  </div>
</div>


