<%- include('../public/header')%> <%- include('./partials/navbar')%>
<br />

<div id="divProductos"></div>

<hr />

<script type="module" src="../public/js/ecomm.js"></script>

<%- include('../public/footer')%>
