<%- include('../../../public/header')%>




<div class="msg-box">
  <h1>signup error :(</h1>
  <!-- <a class="btn btn-success" href="/Login">Ir a Login</a> -->
  <div class="button">
    <a href="/Signup">Ir a Sigunp</a>
  </div>
</div>


<%- include('../../../public/footer')%>

