<%- include('../../../public/header')%>

<div class="login-box-0310222034">
  <h2>Signup</h2>
    <form method="post" action="/signup">
      <div class="user-box-0310222035">
        <input name="username" type="text"/>
        <label for="username">Username</label>
      </div>

      <div class="user-box-0310222035">
        <input name="password" type="password"/>
        <label for="password">Username</label>
      </div>

      <div class="button-form-0310222038">
        <input id="submit-1010221515" type="submit" value="Registro" />
        <div id="register-1010221515">
          Tenes cuenta?
          <a href="/login">Login</a>
        </div>
      </div>
      
    </form>

  </div>
</div>
